[submodule "Acme"]
	path = Acme
	url = https://github.com/mbishram/Acme
[submodule "RANA-Cons"]
	path = RANA-Cons
	url = https://github.com/mbishram/RANA-Cons
[submodule "MyTunes"]
	path = MyTunes
	url = https://github.com/mbishram/myTunes/blob/master/README.md
[submodule "myTunes"]
	path = myTunes
	url = https://github.com/mbishram/myTunes
[submodule "BlurEffect"]
	path = BlurEffect
	url = https://github.com/mbishram/BlurEffect
[submodule "MoviewApp"]
	path = MoviewApp
	url = https://github.com/mbishram/movie-app/tree/website
